@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, This is Mohd Mohsin</h1>
    <p>Learn about <a href="https://docs.microsoft.com/en-us/azure/app-service/">Azure WebApp, This is My First Azure WebApp</a>.</p>
</div>
